<div class="search-container">
  <div class="search-box">
    <input 
      type="text" 
      [(ngModel)]="searchCity" 
      placeholder="Enter city name"
      (keyup.enter)="onSearch()">
    <button 
      [disabled]="cities.length >= maxCities"
      (click)="onSearch()">
      Add City
    </button>
  </div>
  <div class="cities-count" *ngIf="cities.length > 0">
    Cities: {{cities.length}}/{{maxCities}}
  </div>
</div>

<div class="cities-list">
  <div *ngFor="let city of cities" class="city-tag">
    {{ city }}
    <button class="remove-city" (click)="removeCity(city)">X</button>
  </div>
</div>

<div class="charts-container">
  <div *ngIf="chart24hOptions?.series?.length" class="chart">
    <h2>Next 24 Hours</h2>
    <highcharts-chart 
      [Highcharts]="Highcharts"
      [options]="chart24hOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

  <div *ngIf="chartOptions?.series?.length" class="chart">
    <h2>5-Day Forecast</h2>
    <highcharts-chart 
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
</div>
