/Backend/node_modules/
/Frontend/node_modules/

/Backend/dist/
/Frontend/dist/

/Backend/.env
/Frontend/.env

/Backend/.angular/
/Frontend/.angular/

/Backend/.vscode/
/Frontend/.vscode/

/Backend/.git/
/Frontend/.git/

/Backend/.idea/
/Frontend/.idea/

.gitignore
.git/
.idea/

