<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <label for="firstName">First Name </label>
  <input id="firstName" formControlName="firstName" type="text">
  <div *ngIf="!registerForm.controls['firstName'].untouched && registerForm.controls['firstName'].invalid">
    <small>First name required.</small>
  </div>
  <br/>

  <label for="lastName">Last Name </label>
  <input id="lastName" formControlName="lastName" type="text">
  <div *ngIf="!registerForm.controls['lastName'].untouched && registerForm.controls['lastName'].invalid">
    <small>Last name required.</small>
  </div>
  <br/>
  <label for="email">Email </label>
  <input id="email" formControlName="email" type="email">
  <div *ngIf="!registerForm.controls['email'].untouched && registerForm.controls['email'].invalid">
    <small>Email must be valid.</small>
  </div>
  <br/>

  <label for="password">Password </label>
  <input id="password" formControlName="password" type="password">
  <div *ngIf="!registerForm.controls['password'].untouched && registerForm.controls['password'].invalid">
    <small>Password should contain at least 6 letters.</small>
  </div>

  <button type="submit" [disabled]="registerForm.invalid" class="submit-button">Register</button>

  <div *ngIf="isRegistered">
    <p>You are registered ! You can now log in your account.</p>
  </div>
</form>
<p>Already have an account? <a routerLink="/login">Log in here</a></p>

<div *ngIf="registerSuccess" class="alert alert-success">
  {{ registerSuccess }}
  <div>Redirection vers la page de connexion...</div>
</div>

<div *ngIf="registerError" class="alert alert-danger">
  {{ registerError }}
</div>
