<app-navbar></app-navbar>
<div class="home-container">
  <button class="profile-button" (click)="goToProfile()">Profil</button>
  <h1>Welcome to your personal space!</h1>
  <nav>
    <a routerLink="/learning">Apprentissage</a>
    <a routerLink="/quiz">Quiz</a>
    <a routerLink="/stats">Statistiques</a>
  </nav>

  <!-- Pour afficher les composants enfants -->
  <router-outlet></router-outlet>
  <div class="logout-container">
    <button class="logout-button" (click)="logout()">Déconnexion</button>
  </div>
</div>

