.help-page {
  max-width: 800px; 
  margin: 20px auto; 
  padding: 30px; 
  background-color: #f9f9f9; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 60px;
}

.help-page h1, .help-page h2 {
  color: #333; 
}

.help-page p {
  line-height: 1.6; 
}

.help-page ul {
  list-style-type: disc;
  margin-left: 20px;
}
