<div class="help-page">
  <h1>Help: Using our Weather App</h1>
  <p>Welcome to our Weather App! This page is here to help you learn how to check the weather, save your favorite cities, and update you account settings.</p>

  <h2>1. Searching for the weather</h2>
  <p>Find the weather in any city easily:</p>
  <ul>
    <li><strong>Search Bar:</strong> Type the city name in the search bar.</li>
    <li><strong>View Results:</strong> See the current temperature, humidity, wind speed, and weather conditions instantly.</li>
    <li><strong>More Details:</strong> Check hourly or weekly forecasts for the city.</li>
  </ul>

  <h2>2. Managing favorite cities</h2>
  <p>Save and view the weather for your favorite places:</p>
  <ul>
    <li><strong>Add Favorites:</strong> Tap the star icon next to a city to save it.</li>
    <li><strong>View Favorites:</strong> Go to "Favorites" to see weather updates for saved cities.</li>
    <li><strong>Remove Favorites:</strong> Tap the star icon again to remove a city from your list.</li>
  </ul>

  <h2>3. Understanding weather details</h2>
  <p>Learn more about the weather:</p>
  <ul>
    <li><strong>Current Conditions:</strong> See real-time temperature, precipitation, and cloud cover.</li>
    <li><strong>Hourly Forecast:</strong> Check what the weather will be like in the next few hours.</li>
    <li><strong>Weekly Forecast:</strong> Check what the weather will be like during the week.</li>
  </ul>

  <h2>4. Profile and Account Management</h2>
  <p>Manage your account easily:</p>
  <ul>
    <li><strong>Edit Profile:</strong> Update your username, email, or password.</li>
  </ul>


  <p>We hope this guide helps you use our weather app easily. Search for cities, save your favorites, and adjust settings to stay updated with the latest weather.</p>

</div>
